html{
  min-height:100%;
  height:100%;
}
html,body{
  position:relative;
}
body{
  height:100%;
	background-color:#000;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
}
#container-outer,#container-inner{
  display:block;
  overflow:auto;
  width:100%;
  height:100%;
  min-height: 100% !important;
}
#container-outer{
  background-image:url(../img/bg-orange.jpg);
  background-size:cover;
  background-position:center;
}
.content #container-outer{
  background-image:url(../img/bg-green.jpg);
}
.project #container-outer{
  background-image:url(../img/bg-red.jpg);
}
.team #container-outer{
  background-image:url(../img/bg-sepia.jpg);
}

#container-inner{
  background-image:url(../img/bg.png);
}

h2,h3{
	text-transform:uppercase;
}

h3{
	color:#ffd554;
	font-weight:bold;
	font-size:1.0em;
}

.vcenter{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menu h2{
	font-size:1.6em;
}
#menu .center{
	position:relative;
}

#menu .center:before,#menu .center:after{
  height:100%;
  content:' ';
  width:1px;
  position:absolute;
  top:0.5em;
  bottom:0;
	background:rgba(255,213,84,0.35);
}
#menu .center:after{
  right:0px;
  left:auto;
}
#menu .center:before{
  left:0px;
}

#menu a{
	text-decoration:none;
	color:#fff;
}

#menu h3{
	margin-top:-0.2em;
	font-size:0.9em;
}

#menu .active{
  background-repeat:no-repeat;
  background-position:bottom center;
  background-image:url(../img/indicator.png);
}

.arabic{
	font-family: 'droid arabic naskh', serif;
}

#content{
	line-height:1.65em;
	letter-spacing:0.025em;
  padding:1.5em 0 2em 0;
}

#content .arabic{
	text-align:right;
}

#content h2{
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.33);
	font-size:1.75em;
	font-weight:bold;
	margin:1em 0;
}

#header, #menu{
	text-align:center;
}

#header{
	background-color:rgba(0,0,0,0.8);
	padding:2em 0;
  border-bottom:1px solid rgba(255,213,84,0.35);
}

#menu{
	background-color:rgba(0,0,0,0.6);
	padding:1em 0 2em 0;
}

.banner{
  height:350px;
  text-align:center;
  background-position:bottom center;
  background-size:cover;
  border-bottom:1px solid rgba(255,213,84,0.35);
}
.banner.skyline{
  background-image:url(../img/skyline.jpg);
}
.banner .partners{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner .partners img{
  width:80%;
  max-width:928px;
}

#footer{
  position:absolute;
  background: rgba(0,0,0,0.5);
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0em;
  border-top: 1px solid rgba(255,213,84,0.35);
}
#footer h3{
  font-weight:normal;
  color:#fff;
  font-size:0.8em;
  letter-spacing:2pt;
  line-height: 1.5em;
  opacity:0.8;
  margin:2em 0 1.5em 0;
  font-weight:bold;
}
#footer .copyright{
  font-size: 0.7em;
  opacity: 0.5;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
#footer .contact a{
  color:#fff;
  opacity:0.5;
  padding: 1.5em 0 0 0;
  margin: 0.5em 1em 0 1em;
  display: inline-block;
  background-position:top center;
  background-repeat:no-repeat;
}
#footer .contact .email{
  background-image:url(../img/icon-mail.png);
}
#footer .contact .phone{
  background-image:url(../img/icon-phone.png);
}

#footer .contact a:hover, #footer a.logo:hover{
  opacity:1.0;
  text-decoration:none;
}
#footer .contact{
  font-size:0.8em;
}
#footer .logo{
  margin: 2em 0 3.5em 0;
  display: inline-block;
  opacity: 0.5;
}
.jcarousel-wrapper {
    margin: 0;
    position: relative;
		overflow:hidden;
		width:100%;
    border-bottom:1px solid rgba(255,213,84,0.35);
    background:rgba(0,0,0,0.8);
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
		margin:0;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
		position:relative;
    width: 200px;
    float: left;
		-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel li *{
	pointer-events:none;
}

.jcarousel li.selected *{
	pointer-events:auto;
}

.jcarousel li:after{
	content:' ';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border:10px solid #fff;
	opacity:0;
	visibility:hidden;
	pointer-events:none;
}

.jcarousel li.selected:after{
	opacity:1.0;
	visibility:visible;
}

.jcarousel img{
    display: block;
    max-width: 100%;
		width:100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    text-align: center;
		color:#fff;
		font-size:3.5em;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
.jcarousel-control-prev span:hover,
.jcarousel-control-next span:hover{
	color:#fff;
}

.jcarousel-control-prev {
    left: 0px;
		margin-left:15px;
}

.jcarousel-control-next {
    right: 0px;
		margin-right:15px;
}

@media (min-width: 540px) { 
	.jcarousel {
		width: 150%;
		margin:0 0 0 -25%;
	}}
