<div id="footer" class="footer">
  <div class="container">
  <h3>اتصل بنا <br> Contact Us</h3>
     <div class="contact">
      <a class="email" href="mailto:info@zebradog.com">
         <img src=""{{ site.baseurl }}/img/icon-mail.png" alt="">
         info@zebradog.com
      </a>
      <a class="phone" href="tel:1-608-257-8400">
         <img src=""{{ site.baseurl }}/img/icon-phone.png" alt="">
         +1-608-257-8400
       </a>
    </div>
    <a class="logo" href="http://www.zebradog.com"><img src="{{ site.baseurl }}/img/logo-footer.png" alt=""></a>
    <div class="copyright">
      &copy; {{ site.time | date: '%Y' }} ZD Studios Inc. </div>
  </div>
</div>
